__pycache__/
*.py[cod]
.venv/
.env
.ipynb_checkpoints/
data/raw/**/*
!data/raw/**/.gitkeep
data/external/**/*
!data/external/**/.gitkeep
data/processed/**/*
!data/processed/**/.gitkeep
*.sqlite
*.db
.DS_Store
